.right-panel {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 60px;
  height: 70%;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.rotate-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(90deg);
  margin-top: 20px;
}

.text {
  font-size: 12px;
  margin-top: 5px;
}

a {
  color: #000;
  text-decoration: none;
}
