.contact {
  padding: 100px 50px 100px;
}

.contact-section {
  text-align: center;
}

a.email-button {
  color: #fffef4;
}

.email-button {
  background-color: #433f3f;
  padding: 13px;
}

.email-btn {
  margin-top: 30px;
}
