.about {
  padding: 100px 50px 0px;
}

ul.skills-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(40px, 100px));
  gap: 0px 10px;
  padding: 0px;
  margin: 20px 0px 0px;
  overflow: hidden;
  list-style: none;
}

.about-section-container {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
}

.left-section {
  width: 60%;
}

.right-section {
  width: 35%;
}

.right-section .image {
  width: 100%;
}

.display-pic {
  width: 100%;
  border-radius: 3%;
}

.display-pic:hover {
}

.tech-heading {
  font-size: 15px;
  font-weight: 500;
}

.about-first-para {
  font-size: 16px;
  font-weight: 600;
}

/* ----------- */

.container {
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;

  border: solid 3px #615959;
  padding: 10px 30px;
  margin: 10px;
  transform: rotate(-1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}

.container:hover {
  transform: translateY(-10px) rotate(1deg);
  box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
}
