.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
  background-color: #db9c9c;
}

.logo img {
  height: 50px;
  width: 50px;
}

.sections a {
  margin-left: 20px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.header {
  position: sticky;
  top: 0px;
  height: 50px;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 500ms;
}

.header.hide {
  top: -90px;
}
