.portfolioBuilder {
  padding: 30px 100px;
}

.form-section {
  margin-top: 20px;
  border: 1px solid #8b7a7a;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.form-heading {
  padding-bottom: 3px;
  border-bottom: 1px solid #323232;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
}

.switch-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.switch-btn button:not(.generate-json),
.form-save-button button {
  font-family: inherit;

  padding: 8px 16px;
  border: 2px solid #7c7c7c;
  border-radius: 4px;
  background-color: #7b6b6b;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.switch-btn button:hover {
  background-color: #ddd;
  border-color: #aaa;
  color: #222;
}

.switch-btn button:disabled {
  background-color: #f8f9fa;
  color: #6c757d;
  border: 2px solid #cbcbcb;
  cursor: not-allowed;
}

.generate-json {
  font-family: inherit;
  background-color: #0f860fe8;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  padding: 12px 24px;
  border-radius: 6px;
  box-shadow: 0px 3px 0px #074b29;
  transition: transform 0.3s ease;
}

.generate-json:hover {
  transform: translateY(-3px);
}

.generate-json:active {
  box-shadow: none;
  transform: translateY(1px);
}

.form-heading {
  margin-bottom: 20px;
}

.input-field-section {
  display: flex;
  flex-direction: column;
  margin: 20px 100px;
  border: 1px solid #8b7a7a;
  border-radius: 5px;
  box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.input-field-section label {
  display: grid;
  margin: 10px 10px 10px;
}
button {
  font-family: "Montserrat", sans-serif;
}

.form-save-button {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.add-sub-section {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

@media (max-width: 800px) {
  .portfolioBuilder {
    padding: 20px 80px;
  }
  .input-field-section {
    margin: 20px 20px;
  }
  .input-field-section label {
    display: grid;
    margin: 10px 20px;
  }
  .switch-btn {
    display: grid;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .portfolioBuilder {
    padding: 20px 20px;
  }
}
