.left-panel {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 60px;
  height: 70%;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

li {
  margin-bottom: 20px;
}

a {
  color: #000;
  font-size: 20px;
}
