body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  color: #323232;
  background-color: #f3d9c8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media screen and (max-width: 500px) {
  .left-panel,
  .right-panel {
    display: none;
  }
}
